# Discord Bot Configuration
DISCORD_TOKEN=YOUR_DISCORD_TOKEN_HERE

# OpenAI Configuration
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

# GamersClub Configuration
GAMERSCLUB_ACCESS_TOKEN=YOUR_GAMERSCLUB_ACCESS_TOKEN_HERE
GAMERSCLUB_SESSION_COOKIE=YOUR_GAMERSCLUB_SESSION_COOKIE_HERE
